azure-storage-file==2.1.0
azure-storage-blob==12.0.0
azure-keyvault
azure-keyvault-secrets
azure-identity
#
Flask==1.1.1
Werkzeug==0.16.0
flask-wtf
wtforms
wtforms-components
wtforms-alchemy
requests
gunicorn
#
numpy
pandas
scipy
sklearn
