Flask
Werkzeug
requests
gunicorn
numpy
pandas
scipy
sklearn
azure-storage-file
azure-storage-blob
azure-keyvault
azure-keyvault-secrets
azure-identity
flask-wtf
wtforms
wtforms-components
wtforms-alchemy
