{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FJE added -->
        <meta name="description"
          content="{% block meta_description %}{% endblock %}">
        <meta name="csrf-token" content="{{ csrf_token() }}">
      {% endblock meta %}

      <title>Aixpact | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
        <!-- Bootstrap -->
{#         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"> #}
      <!-- Custom Theme Style cards-->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
      <!------ Include the above in your HEAD tag ---------->
        <!-- Custom Theme Style -->
        <link href="{{ url_for('static', filename='styles/custom.css') }}" rel="stylesheet">
      {% endblock stylesheets %}
    {% endblock head %}
  </head>

  <body class="{% block body_class %}nav-md  bg-secondary{% endblock body_class %}">
    {% block body %}
{#       <div class="container body">
        <div class="main_container"> #}

          {% block content %}
            <!-- {{ content }} -->
          {% endblock content %}

        {# </div> #}
      {# </div> #}

      {{ flash.render() }}

      {% block javascripts %}
        <!-- jQuery -->
        {# <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"> #}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
      {% endblock %}
      <!-- Custom Theme Scripts -->

      <!-- OnChange Form handler -->
      <!-- Opens route on SelectField change -->
      <!-- https://github.com/PrettyPrinted/dynamic_select_flask_wtf_javascript/-->
      <!-- Dynamically Hide/show divId's based on custom CSS (.invisible) class -->
      <script>
        var field_select = document.getElementById("function");
        var invisible = 'some-unused-initial-div-id';

        field_select.onchange = function() {

            // From selected(via SelectField) divId(="function") remove invisible class
            try {
              document.getElementById(invisible).classList.remove('invisible');
            }
            catch(err) {
              // no action needed
              console.log(invisible);
            }
            // Route to '/populate/<field_select.value>'
            fetch('/populate/' + field_select.value).then(function(response) {
                response.json().then(function(data) {

                    // Set values based on dropdown field
                    document.getElementById("dynamic-text").innerHTML = data;
                    document.getElementById("comments").value = field_select.value;

                    // Dynamically add (in)visible class to selected divId
                    document.getElementById(field_select.value).classList.add('invisible');
                    invisible = field_select.value

                    // Add print to fix buggy behavior of randomly not hiding div
                    console.log(invisible);

                    // Other things to try:
                    // alert(data);
                    // document.getElementById(field_select.value).setAttribute("class", "invisible")
                    // document.getElementById("HttpTrigger").style.display = "none"; // "block";
                })
            });
        }

      </script>
      <script src="{{ url_for('static', filename='scripts/custom.js')}}"></script>

    {% endblock body %}

  </body>
</html>
