{# {% extends "base_empty.html" %} #}
{# {% import 'macros/form.html' as f with context %} #}
{% extends "base_empty_cards.html" %}
{% from 'macros/form_fileup.html' import usedalot %}

{% block content %}
    <div class='jumbotron jumbotron-fluid'>
        <div class="container" style="font-size: 1.5rem;">
         {{ usedalot(form) }}
        </div>
    </div>

    <!-- streamlit -->
    <iframe
        src="{{ iframe }}"
        style='position: absolute; width: 100%; height:100%; margin: -50px 0 0 0;'
        frameborder='0' noresize='noresize' frameborder="-1" >
    </iframe>

{% endblock %}
