{% extends "base_empty.html" %}
{% import 'macros/form.html' as f with context %}


{% block content %}
    <div class="jumbotron-fluid">
        <br>
        <div class="card border-dark mb-3" style="max-width: 80rem;">
            <img class="card-img-top" src="{{url_for('static', filename='./clouds3.jpg')}}" alt="Card image cap">
          {# <div class="card-header text-white bg-secundary"><h4>h<b>API</b>days</h4></div> #}
          <div class="card-body text-primary">
            <h4 class="card-title">
                <div class="col-md-6 mb-6">Thank you for trying h<b>API</b>days!</div>
            </h4>
            <p class="card-text">
                <div class="col-md-6 mb-6">
                    <p>Hi {{ name.capitalize() }},</p>
                    <p>We will send your result by email shortly.</p>
                    <p>Cheers, Frank</p>
                </div>
                <br>

{#                 <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="col-md-3 mb-3">
                        {% call f.form_group(form.function, css_class='sm-margin-bottom',
                        placeholder='' ) %}
                        {% endcall %}
                    </div>

                    <div class="col-md-3 mb-3">
                        {% call f.form_group(form.email, css_class='sm-margin-bottom',
                        placeholder='me@email.com' ) %}
                        {% endcall %}
                    </div>

                    <div class="col-md-3 mb-3">
                        {% call f.form_group(form.file, css_class='sm-margin-bottom',
                        placeholder='' ) %}
                        {% endcall %}
                    </div>

                    <div class="col-md-3 mb-3">
                        <button type="submit" class="btn btn-outline-primary">Get it!</button>
                    </div>
                </form> #}


            </p>
          </div>
        </div>

{#         <br>
        <h1>h<b>API</b>days</h1>
        <h2>One free API a day</h2>
        <br>
        <br> #}

    </div>






    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    {% for message in messages %}
        {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}
            </div>
        {% endif %}
        {% if "Error" in message[1]: %}
            <div class="alert alert-danger">
            <strong>Error: </strong> {{ message[1] }}
            </div>
        {% endif %}
    {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
