{% extends "base_empty_cards.html" %}
{# {% import 'macros/form.html' as f with context %} #}
{% from 'macros/form_.html' import usedalot %}

{# bootstrap snippets #}
{# https://bootsnipp.com/snippets/X2Wlp #}
{# https://startbootstrap.com/snippets/ #}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <!--Card-->
            <div class="col-md-6 mt-6">
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1824&q=80" alt="Card image cap"
                        style="width: 110%; height: 250px; object-fit: cover; margin: -5px 0 0 0;">
                    </div>
                    <div class="card-body pt-0">
                        <h2 class="card-title">h<b>API</b>days</h2>
                        <p class="card-text">
                            Upload your file and you will receive an email with your result!
                        </p>
                           {# Repeated form blocks imported as macro with form as param #}
                           {{ usedalot(form) }}
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}



