{% extends 'base_site.html' %}

{% block title %}Account settings{% endblock %}

{% block content %}
  <div class="jumbotron">
  </div>
  <div class="row">
    <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
      <legend>Settings</legend>
      <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

      <div class="list-group">
        <a href="{{ url_for('user_blueprint.update_credentials') }}"
           class="list-group-item">
          Update email and password
        </a>
        <a href="{{ url_for('user_blueprint.update_locale') }}"
           class="list-group-item">
          Update language
        </a>
        {% if current_user.username %}
          <span class="list-group-item quarter-faded text-muted">
            Your username is
            <strong>{{ current_user.username }}</strong>
          </span>
        {% else %}
          <a href="{{ url_for('user_blueprint.welcome') }}"
             class="list-group-item">
            Pick a username
          </a>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
