{% extends 'base_site.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Update your sign in information{% endblock %}

{% block content %}
  <div class="jumbotron">
  </div>
  <div class="row">
    <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
      {% call f.form_tag('user_blueprint.update_credentials') %}
        <legend>Update your sign in information</legend>
        <p class="small help-block sm-margin-bottom">
          Supply your current password to make any changes.
        </p>

        {% call f.form_group(form.current_password, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.email, css_class='sm-margin-bottom', autocomplete="off",
                             placeholder='{{ current_user.email }}') %}
        {% endcall %}

        {% call f.form_group(form.password_, css_class='sm-margin-bottom', autocomplete="off",
                             placeholder='New password (optional)') %}
        {% endcall %}

        {% call f.form_group(form.password_cfm, css_class='sm-margin-bottom', autocomplete="off",
                             placeholder='Confirm password') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('user_blueprint.settings') }}"
               class="btn btn-default btn-block">
              Nevermind
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
